@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

@for (int i = 0; i < Model.Count(); i++)
{
    if (i % 3 == 0)
    {
        <div class="card-group">
            @{
                int gidilecek = i + 3;

                if(gidilecek > Model.Count())
                {
                    gidilecek = Model.Count();
                }
            }
                @for (int j = i; j < gidilecek; j++)
                {
                    <div class="card border mt-3 ml-2">
                        <img src="~/img/@Model[j].ProductPhotoUrl" style=""  class="card-img-top" height="280" width="200" alt="@Model[j].ProductName">
                        <div class="card-body text-center">
                            <h5 class="card-title">@Model[j].ProductTitle</h5>
                            <p class="card-text"><span class="text-info h4">@Model[j].ProductPrice.ToString()&nbsp;&#8378;</span></p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Product" asp-route-id="@Model[j].ProductId">Ürünü İncele</a>
                        </div>
                    </div>
                }
            </div>
    }
 }




